/* -- TEENS STYLE --------------------------------------------------------- */
/* set Per Page body Class to 'teens' to get this style */

@teens-font: 'Allan', cursive;

body.teens:not(.search-results)  {
  background-color: #000000;
  .widget-title {
    font-size: 150%;
    font-weight:bold;
  }
  #sidebar_header h1,
  .widget-title {
    font-family: @teens-font;
  }
  #sidebar_header h1 {
    font-size: 300%;
  }
  #content {
    h1,
    h2,
    h3,
    .entry-title {
      font-family: @teens-font;
    }
    .entry-title {
      font-size: 300%;
    }
    h1 {
      font-size: 250%;
    }
    h2 {
      font-size: 200%;
      font-weight:normal;
    }
    h3 {
      font-size: 150%;
      font-weight:normal;
    }
  }
  #sidebar_header {
    position:absolute;
    top:20px;
    left:380px;
    right:24em;
    @media only screen and (max-width:1000px) {
      position:static;
    }
  }
}