/* !-- GENERAL APPEARANCE ------------------------------------------------- */
:focus {
  outline: solid gold 2px;
}
dd {
  margin-bottom: 0.5em;
}
body {
  font-family: 'Lato', Georgia, Times, Serif;
}
h1,
h2,
h3,
h4,
.entry-header,
.entry-title,
.widget-title,
.menu_bar,
.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4 {
  font-family: 'Lato', Georgia, Times, Serif;
  font-weight: 700;
  margin-top: 0.5em;
  margin-bottom: 0.25em;
  clear: none;
}
#author-info,
#cancel-comment-reply-link,
#comments-title,
#infobar,
#nav-above,
#nav-below,
#respond label,
#site-info,
#site-title,
#wp-calendar,
.comment-body thead th,
.comment-body tr th,
.comment-meta,
.entry-content label,
.entry-content thead th,
.entry-content tr th,
.entry-format,
.entry-meta,
.entry-title,
.entry-utility,
.form-allowed-tags,
.menu_bar,
.navigation,
.page-title,
.pingback p,
.reply,
.widget-title,
.wp-caption-text,
h3#comments-title,
h3#reply-title,
input[type=submit] {
  font-family: 'Lato', Georgia, Times, Serif;
}
p {
  margin-bottom: 0.5em;
}
table caption {
  font-weight: 900;
  color: #000;
  font-size: 130%;
  border-bottom: solid 1px #000;
}
.entry-header,
.entry-title {
  font-weight: 900;
}
.entry-content {
  padding: 0;
}
.widget-area {
  padding: 0;
}
/* -- Content ------------------------------------------------------------- */
/* styles generally applying to content (but not to headers, footers, widgets,
   etc.) */
#content a {
  font-weight: bold;
  text-decoration: underline;
}
#content p {
  margin-bottom: 0.5em;
}
#content summary {
  display: inline-block;
  color: #722327;
  font-weight: bold;
  text-decoration: underline;
}
#content tr th,
#content thead th {
  color: #000;
  background-color: transparent;
}
#content table {
  width: auto;
  border: none;
}
#content table tr:nth-child(even) {
  background-color: #eee;
}
#content table tr:nth-child(odd) {
  background-color: #fff;
}
#content table.plain tr {
  background-color: #fff;
}
#content tr td {
  border: none;
}
#content tr th {
  font-size: inherit;
}
#content .alignright,
#content .alignleft {
  max-width: 45%;
  clear: both;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
@media only screen and (max-width: 640px) {
  #content .alignright,
  #content .alignleft {
    max-width: 100%;
    width: 100%;
    display: block;
    float: none;
    margin: 0 auto;
  }
}
#content .alignleft {
  margin-right: 1em;
}
#content .entry-title a,
#content a[href^=tel],
#content a[href^=sms],
#content a[href^=mailto] {
  /* never underline these links, even in content */
  text-decoration: none;
}
#content .wp-caption img {
  width: 100%;
  margin: 0;
}
#infobar {
  /* smaller and less obtrusive than the default */
  font-size: 100%;
  padding: 0;
  line-height: 1;
}
body.weaver-any-mobile #infobar {
  font-size: 120%;
  line-height: 1.3;
}
body.weaver-any-mobile #infobar a,
body.weaver-any-mobile #infobar .bcur-page {
  margin: 0 0.2em;
}
#site-info a {
  font-size: small;
  color: #fff;
  font-weight: bold;
}
#wrapper {
  padding: 0.5in;
}
/* CUSTOM LOGO */
#branding #custom-header-logo {
  display: inline;
  vertical-align: middle;
}
#branding #custom-header-logo.mobile {
  display: block;
  margin: 0 auto;
  max-width: 90%;
}
body.weaver-any-mobile #branding {
  padding: 0;
}
/* -- TEENS STYLE --------------------------------------------------------- */
/* set Per Page body Class to 'teens' to get this style */
body.teens:not(.search-results) {
  background-color: #000000;
}
body.teens:not(.search-results) #sidebar_header {
  position: absolute;
  top: 20px;
  left: 380px;
  right: 24em;
}
@media only screen and (max-width: 1000px) {
  body.teens:not(.search-results) #sidebar_header {
    position: static;
  }
}
/* -- KIDS STYLE ---------------------------------------------------------- */
/* set Per Page body Class to 'kids' to get this style */
body.kids:not(.search-results) {
  background-color: #ccddaa;
}
body.kids:not(.search-results) #content {
  font-family: inherit;
  font-size: 175%;
}
body.kids:not(.search-results) #content a {
  color: #b82a4b;
}
body.kids:not(.search-results) #content h1,
body.kids:not(.search-results) #content h2,
body.kids:not(.search-results) #content h3,
body.kids:not(.search-results) #content .entry-title,
body.kids:not(.search-results) #content #sidebar_header h1 {
  font-family: inherit;
  color: #b82a4b;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 0;
  padding-bottom: 0;
}
body.kids:not(.search-results) .menu_bar,
body.kids:not(.search-results) .mobile_menu_bar,
body.kids:not(.search-results) .menu-add {
  background-color: #ccddaa;
  color: #b82a4b;
}
body.kids:not(.search-results) .menu_bar a,
body.kids:not(.search-results) .mobile_menu_bar a,
body.kids:not(.search-results) .menu-add a {
  color: #b82a4b;
}
body.kids:not(.search-results) .menu_bar .current_page_item > a,
body.kids:not(.search-results) .menu_bar .current-menu-item > a,
body.kids:not(.search-results) .menu_bar .current-cat > a,
body.kids:not(.search-results) .menu_bar .current_page_ancestor > a {
  background-color: #99bb77 !important;
}
body.kids:not(.search-results) .current-category-ancestor > a,
body.kids:not(.search-results) .current-menu-ancestor > a,
body.kids:not(.search-results) .current-menu-parent > a {
  background-color: #99bb77 !important;
}
body.kids:not(.search-results) .widget-title {
  color: #558811;
  border-bottom: 1px solid #558811;
}
body.kids:not(.search-results) #sidebar_header {
  position: absolute;
  top: 20px;
  left: 380px;
  right: 24em;
}
@media only screen and (max-width: 1000px) {
  body.kids:not(.search-results) #sidebar_header {
    position: static;
  }
}
/* -- Search Results ------------------------------------------------------ */
body.search-results #content h1 {
  /* larger than the default */
  font-size: 150%;
}
body.search-results #content h2 {
  /* smaller than the default */
  font-size: 130%;
}
body.search-results #content h2.entry-title a {
  /* blue like in Google search results */
  color: #1e0fbe;
}
body.search-results #content h3 {
  font-size: 110%;
  font-weight: normal;
}
body.search-results header.entry-header {
  /* tighten up the spacing of the link title and path, both of which appear in the entry-header */
  line-height: 1;
}
body.search-results .entry-summary {
  /* position the entry summary directly below the header, without unnecessary padding */
  padding: 0;
}
body.search-results span.forbes_search_results_page_path {
  /* the path should be small so as to be unobtrusive */
  font-size: 80%;
}
/* -- Inject Header ------------------------------------------------------- */
#header-buttons {
  position: absolute;
  right: 0;
  bottom: 132px;
  display: block;
  white-space: nowrap;
  background-color: white;
}
#header-buttons a {
  padding: 0 0.5em;
}
#header-buttons #my-account {
  border-radius: 1em;
  padding: 0.5em 1em;
  margin: 0.5em 0.5em 0 0;
  background-color: #722327;
  color: #FFFFFF;
  border: none;
}
#header-buttons #my-account #my-account {
  margin: 2px 1em 0 0;
}
#header-buttons #wireless-printing-link {
  display: inline-block;
  text-indent: -999em;
  vertical-align: 90%;
  height: 32px;
  width: 32px;
  background-image: url('http://forbeslibrary.org/wordpress/wp-content/uploads/2014/02/wireless-printing-icon32x32.png');
  background-repeat: no-repeat;
  background-position-x: 50%;
}
@media only screen and (max-width: 815px) {
  #header-buttons {
    position: static;
  }
}
body.weaver-any-mobile #header-buttons {
  position: static;
  max-width: 348px;
  margin: 1em auto 1em auto;
  text-align: center;
}
body.weaver-any-mobile #header-buttons a {
  padding: 0 0.2em;
}
body.weaver-any-mobile #header-buttons #wireless-printing-link {
  display: none;
}
#search {
  width: 25em;
}
body.weaver-any-mobile #search {
  width: 250px;
}
.searchOptions {
  position: relative;
}
#searchOpt_advanced {
  position: absolute;
  right: 0;
  bottom: 0;
}
#searchForm {
  background: transparent;
  display: inline-block;
  float: right;
  margin-right: 20px;
  margin-top: 40px;
}
#searchForm .searchformimg {
  margin: 0 0 -5px 0;
}
body.weaver-any-mobile #searchForm {
  display: block;
  float: none;
  width: 290px;
  margin: 0 auto;
}
@media only screen and (max-width: 815px) {
  #searchForm {
    display: block;
    float: none;
    width: 360px;
  }
}
/* HIDE TOP DESKTOP ICON ON SMALL SCREENS */
.wvr-to-desktop-top {
  display: none;
}
/* LIBRARY HOURS WIDGET STYLE */
.sidebar-hours {
  margin-top: 0.3em;
}
.sidebar-hours > table {
  font-size: 80%;
}
/* REALLY SIMPLE GALLERY WIDGET */
/* used for Hosmer Gallery widget on home page */
img.rsg_image {
  width: 100%;
  border: solid black 1px;
}
dl.rsgallery {
  margin: 0;
}
/* WIDGET BUTTONS */
.widget-button {
  font-size: large;
  font-weight: bold;
  margin: 0;
  padding: 1em;
  display: block;
  text-align: center;
}
/* STAFF PICKS THUMBNAILS WIDGET STYLE */
.wvr-show-posts.staff-picks-thumbnails .hentry {
  padding: 0;
  margin-bottom: 10px;
}
.wvr-show-posts.staff-picks-thumbnails .hentry .entry-header {
  margin: 0;
}
.wvr-show-posts.staff-picks-thumbnails img.attachment-thumbnail {
  border-radius: 1em;
  padding: 0;
}
/* READALIKES STYLE */
#content .readalikes .post {
  display: inline-block;
  width: 260px;
  height: 240px;
  vertical-align: top;
  text-align: center;
}
#content .readalikes .entry-title {
  font-size: initial;
  font-style: italic;
  height: 6ex;
  display: table-cell;
  vertical-align: middle;
  margin: 0 auto;
  width: 300em;
}
#content .readalikes img.wp-post-image {
  float: none;
  border-radius: 1em;
}
/* MAIN PAGE NEWS ITEMS STYLE */
#content .news-items {
  overflow: visible;
  margin-bottom: 2em;
  font-size: smaller;
}
#content .news-items article {
  padding: 0;
}
#content .news-items .entry-title > a {
  margin-left: 36px;
}
#content .news-items .entry-title > a:before {
  content: "";
  background-image: url(http://forbeslibrary.org/wordpress/wp-content/uploads/2014/11/homepage-sprites.png);
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  width: 32px;
  height: 32px;
  background-position: 0 -32px;
}
/* LIBRARY ALERTS STYLE */
/* For alerts announcing closing, delays, and other important news. */
.library-alerts {
  font-weight: bold;
  font-size: 150%;
  margin: -0.5in -0.5in 0.5in -0.5in;
}
.library-alerts .hentry,
.library-alerts article {
  background-color: #D22;
  color: #FFF;
  padding: 0.05em 0.5em;
  margin: 0;
}
.library-alerts .post-edit-link {
  float: none;
}
.library-alerts footer,
.library-alerts .entry-content {
  display: inline-block;
  padding-right: 0;
}
body.weaver-any-mobile .library-alerts {
  margin: 0 0 5px 0;
  font-size: 130%;
}
body.weaver-desktop .library-alerts .hentry {
  padding: 0.05em 0.5em;
}
/* REMOVE SHADOWS FROM IMAGES IN POSTS */
#content .wp-caption img,
#content img.wp-post-image,
#content img[class*="wp-image-"] {
  -moz-box-shadow: none;
  box-shadow: none;
  padding: 0;
}
/* LibCal EVENT STYLES */
#content #api_month_cid3294_iid1448 table tr {
  background-color: #fff;
}
#content #api_month_cid3294_iid1448 .tevent {
  padding-bottom: 1em;
}
#content #api_month_cid3294_iid1448 .tcat {
  display: none;
}
#content #api_month_cid3294_iid1448 .ttitles {
  display: none;
}
#content #api_month_cid3294_iid1448 .ttit > td {
  font-weight: bold;
  font-size: larger;
}
#content #api_month_cid3294_iid1448 .ttit > td {
  padding: 0.5ex;
}
#content #api_month_cid3294_iid1448 .tdat > td,
#content #api_month_cid3294_iid1448 #api_month_cid3294_iid1448 .ttim > td,
#content #api_month_cid3294_iid1448 #api_month_cid3294_iid1448 .tloc > td,
#content #api_month_cid3294_iid1448 #api_month_cid3294_iid1448 .tpre > td {
  padding: 0em 24px;
}
#content #api_month_cid3294_iid1448 .tevent td {
  border: none;
}
#content #api_month_cid3294_iid1448 p:last-child {
  margin: 0;
}
/* BOOK DISCUSSION GROUP LibCal EVENT STYLES */
.book-discussion-group-page #api_month_cid3294_iid1448 .tevent {
  border: none;
}
.book-discussion-group-page #api_month_cid3294_iid1448 .tdat td {
  font-weight: bold;
  font-size: larger;
}
.book-discussion-group-page #api_month_cid3294_iid1448 .ttit {
  display: none;
}
.book-discussion-group-page #api_month_cid3294_iid1448 .ttim {
  display: none;
}
.book-discussion-group-page #api_month_cid3294_iid1448 .tloc {
  display: none;
}
/* FILM LISTS */
#content article.post.category-film-lists {
  display: inline-block;
  max-width: 100%;
}
#content article.post.category-film-lists img.alignleft {
  max-width: 100%;
}
/* LIBRARY STORE */
#content .product-image {
  float: right;
  margin-left: 1em;
}
/* PANORAMAS */
.forbes_panorama_wrapper {
  padding: 0;
  width: 100%;
  max-width: 100%;
}
/* PRINTING MODIFICATIONS */
@media print {
  #site-title,
  #searchForm,
  #my-account {
    display: none;
  }
}
/* SORTABLE TABLE STYLES */
#content table.sortable th:hover:not(.sorttable_nosort) {
  background: #ade8ff;
}
#content table.sortable th {
  background-color: #add8e6;
}
#content table.sortable th:not(.sorttable_nosort) {
  cursor: pointer;
}
#content table.sortable th,
#content table.sortable td {
  border: 1px solid #d5d5d5;
  vertical-align: top;
  word-wrap: break-word;
  padding: 4px;
}
/* CFORMS FORM STYLE */
.cform {
  max-width: 500px;
  color: #000;
}
.cform input[type=text],
.cform input[type=tel],
.cform input[type=email],
.cform textarea {
  display: block;
  width: 100%;
}
.cform input[type=date],
.cform input[type=time] {
  display: block;
}
.cform li {
  margin-bottom: 0.5em;
  list-style-type: none;
}
.cform label {
  color: #000;
}
.cform select {
  padding: 5px;
  display: block;
}
fieldset.cf_hidden {
  line-height: 0;
}
.cf_info.failure {
  color: red;
  border: solid 1em red;
  border-radius: 1em;
}
.cf_info.waiting {
  color: purple;
  border: solid 1em purple;
  border-radius: 1em;
}
.cf_info.success {
  color: green;
  border: solid 1em green;
  border-radius: 1em;
}
.cf_info {
  font-weight: bold;
  padding: 1em;
}
.cf_li_err {
  border-left: solid 3px red;
  padding-left: 1em;
}
ul.cf_li_text_err li {
  color: red;
  font-weight: bold;
  margin: 0;
}
ul.cf_li_text_err {
  margin: 0;
}
/* Forbes Databases */
#forbes_databases_nav label {
  font-size: large;
  color: #722327;
}
#forbes_databases_select {
  margin: 0 0 0 1em;
}
body:not(.search-results) #content .forbes_databases {
  margin-left: 64px;
  padding-left: 1em;
  position: relative;
}
body:not(.search-results) .forbes_database_availability_icon {
  position: absolute;
  left: -64px;
}
body:not(.search-results) .forbes_database_feature_icon {
  position: absolute;
  left: -60px;
  top: 86px;
  width: 56px;
  border: 1px solid;
}
.search-results #content .forbes_databases .entry-meta {
  display: none;
}
/* Page Lists */
.page-list {
  -webkit-column-width: 20em;
  -moz-column-width: 20em;
  column-width: 20em;
  list-style-position: inside;
}
.page-list ul {
  list-style-position: inside;
}
/* -- 404 ERROR PAGE ------------------------------------------------------ */
.error404 div#wrapper {
  margin: 0;
  padding: 0;
}
.error404 div#content {
  padding: 1em;
  margin: 0;
}
.error404 article {
  margin-bottom: 2em;
  background-image: url(http://forbeslibrary.org/wordpress/wp-content/uploads/2014/04/aliens_from_fifties.jpg);
  background-size: cover;
  padding: 2em;
  height: 400px;
  background-position: 50% 30%;
  color: white;
  font-size: large;
}
/* -- Subject Icons Sprite ------------------------------------------------ */
.ico_history-icon:before {
  background-image: url(http://forbeslibrary.org/wordpress/wp-content/uploads/2014/11/subject-icons.png);
  background-repeat: no-repeat;
  background-position: 0px 0px;
  height: 32px;
  width: 32px;
  content: " ";
  display: inline-block;
  vertical-align: middle;
  margin: 0 1em 1em 0;
}
.ico_history-icon:hover:before {
  -webkit-filter: saturate(2);
}
.ico_art-icon:before {
  background-image: url(http://forbeslibrary.org/wordpress/wp-content/uploads/2014/11/subject-icons.png);
  background-repeat: no-repeat;
  background-position: -32px 0px;
  height: 32px;
  width: 32px;
  content: " ";
  display: inline-block;
  vertical-align: middle;
  margin: 0 1em 1em 0;
}
.ico_art-icon:hover:before {
  -webkit-filter: saturate(2);
}
.ico_book-icon:before {
  background-image: url(http://forbeslibrary.org/wordpress/wp-content/uploads/2014/11/subject-icons.png);
  background-repeat: no-repeat;
  background-position: 0px -32px;
  height: 32px;
  width: 32px;
  content: " ";
  display: inline-block;
  vertical-align: middle;
  margin: 0 1em 1em 0;
}
.ico_book-icon:hover:before {
  -webkit-filter: saturate(2);
}
.ico_business-icon:before {
  background-image: url(http://forbeslibrary.org/wordpress/wp-content/uploads/2014/11/subject-icons.png);
  background-repeat: no-repeat;
  background-position: -32px -32px;
  height: 32px;
  width: 32px;
  content: " ";
  display: inline-block;
  vertical-align: middle;
  margin: 0 1em 1em 0;
}
.ico_business-icon:hover:before {
  -webkit-filter: saturate(2);
}
.ico_careers-icon:before {
  background-image: url(http://forbeslibrary.org/wordpress/wp-content/uploads/2014/11/subject-icons.png);
  background-repeat: no-repeat;
  background-position: -64px 0px;
  height: 32px;
  width: 32px;
  content: " ";
  display: inline-block;
  vertical-align: middle;
  margin: 0 1em 1em 0;
}
.ico_careers-icon:hover:before {
  -webkit-filter: saturate(2);
}
.ico_consumer-information-icon:before {
  background-image: url(http://forbeslibrary.org/wordpress/wp-content/uploads/2014/11/subject-icons.png);
  background-repeat: no-repeat;
  background-position: -64px -32px;
  height: 32px;
  width: 32px;
  content: " ";
  display: inline-block;
  vertical-align: middle;
  margin: 0 1em 1em 0;
}
.ico_consumer-information-icon:hover:before {
  -webkit-filter: saturate(2);
}
.ico_health-icon:before {
  background-image: url(http://forbeslibrary.org/wordpress/wp-content/uploads/2014/11/subject-icons.png);
  background-repeat: no-repeat;
  background-position: 0px -64px;
  height: 32px;
  width: 32px;
  content: " ";
  display: inline-block;
  vertical-align: middle;
  margin: 0 1em 1em 0;
}
.ico_health-icon:hover:before {
  -webkit-filter: saturate(2);
}
.ico_genealogy-icon:before {
  background-image: url(http://forbeslibrary.org/wordpress/wp-content/uploads/2014/11/subject-icons.png);
  background-repeat: no-repeat;
  background-position: -32px -64px;
  height: 32px;
  width: 32px;
  content: " ";
  display: inline-block;
  vertical-align: middle;
  margin: 0 1em 1em 0;
}
.ico_genealogy-icon:hover:before {
  -webkit-filter: saturate(2);
}
.ico_info-icon:before {
  background-image: url(http://forbeslibrary.org/wordpress/wp-content/uploads/2014/11/subject-icons.png);
  background-repeat: no-repeat;
  background-position: -64px -64px;
  height: 32px;
  width: 32px;
  content: " ";
  display: inline-block;
  vertical-align: middle;
  margin: 0 1em 1em 0;
}
.ico_info-icon:hover:before {
  -webkit-filter: saturate(2);
}
.ico_language-icon:before {
  background-image: url(http://forbeslibrary.org/wordpress/wp-content/uploads/2014/11/subject-icons.png);
  background-repeat: no-repeat;
  background-position: -96px 0px;
  height: 32px;
  width: 32px;
  content: " ";
  display: inline-block;
  vertical-align: middle;
  margin: 0 1em 1em 0;
}
.ico_language-icon:hover:before {
  -webkit-filter: saturate(2);
}
.ico_local-history-icon:before {
  background-image: url(http://forbeslibrary.org/wordpress/wp-content/uploads/2014/11/subject-icons.png);
  background-repeat: no-repeat;
  background-position: -96px -32px;
  height: 32px;
  width: 32px;
  content: " ";
  display: inline-block;
  vertical-align: middle;
  margin: 0 1em 1em 0;
}
.ico_local-history-icon:hover:before {
  -webkit-filter: saturate(2);
}
.ico_money-icon:before {
  background-image: url(http://forbeslibrary.org/wordpress/wp-content/uploads/2014/11/subject-icons.png);
  background-repeat: no-repeat;
  background-position: -96px -64px;
  height: 32px;
  width: 32px;
  content: " ";
  display: inline-block;
  vertical-align: middle;
  margin: 0 1em 1em 0;
}
.ico_money-icon:hover:before {
  -webkit-filter: saturate(2);
}
.ico_news-icon:before {
  background-image: url(http://forbeslibrary.org/wordpress/wp-content/uploads/2014/11/subject-icons.png);
  background-repeat: no-repeat;
  background-position: 0px -96px;
  height: 32px;
  width: 32px;
  content: " ";
  display: inline-block;
  vertical-align: middle;
  margin: 0 1em 1em 0;
}
.ico_news-icon:hover:before {
  -webkit-filter: saturate(2);
}
.ico_science-icon:before {
  background-image: url(http://forbeslibrary.org/wordpress/wp-content/uploads/2014/11/subject-icons.png);
  background-repeat: no-repeat;
  background-position: -32px -96px;
  height: 32px;
  width: 32px;
  content: " ";
  display: inline-block;
  vertical-align: middle;
  margin: 0 1em 1em 0;
}
.ico_science-icon:hover:before {
  -webkit-filter: saturate(2);
}
.subject-list {
  -webkit-column-width: 20em;
  -moz-column-width: 20em;
  column-width: 20em;
}
.subject-list li {
  -webkit-filter: saturate(1);
}
/* -- Homepage Sprites ---------------------------------------------------- */
.ico_facebook {
  background-image: url(http://forbeslibrary.org/wordpress/wp-content/uploads/2014/11/homepage-sprites.png);
  background-repeat: no-repeat;
  background-position: 0px 0px;
  height: 32px;
  width: 32px;
  overflow: hidden;
  display: inline-block;
  text-indent: -9999px;
  margin: 1px;
}
.ico_twitter {
  background-image: url(http://forbeslibrary.org/wordpress/wp-content/uploads/2014/11/homepage-sprites.png);
  background-repeat: no-repeat;
  background-position: -32px 0px;
  height: 32px;
  width: 32px;
  overflow: hidden;
  display: inline-block;
  text-indent: -9999px;
  margin: 1px;
}
.ico_news {
  background-image: url(http://forbeslibrary.org/wordpress/wp-content/uploads/2014/11/homepage-sprites.png);
  background-repeat: no-repeat;
  background-position: 0px -32px;
  height: 32px;
  width: 32px;
  overflow: hidden;
  display: inline-block;
  text-indent: -9999px;
  margin: 1px;
}
.ico_youtube {
  background-image: url(http://forbeslibrary.org/wordpress/wp-content/uploads/2014/11/homepage-sprites.png);
  background-repeat: no-repeat;
  background-position: -32px -32px;
  height: 32px;
  width: 32px;
  overflow: hidden;
  display: inline-block;
  text-indent: -9999px;
  margin: 1px;
}
.ico_instagram {
  background-image: url(http://forbeslibrary.org/wordpress/wp-content/uploads/2014/11/homepage-sprites.png);
  background-repeat: no-repeat;
  background-position: -64px 0px;
  height: 32px;
  width: 32px;
  overflow: hidden;
  display: inline-block;
  text-indent: -9999px;
  margin: 1px;
}
.ico_flickr {
  background-image: url(http://forbeslibrary.org/wordpress/wp-content/uploads/2014/11/homepage-sprites.png);
  background-repeat: no-repeat;
  background-position: -64px -32px;
  height: 32px;
  width: 32px;
  overflow: hidden;
  display: inline-block;
  text-indent: -9999px;
  margin: 1px;
}
/* -- Fixes for Browser Weirdness ------------------------------------------ */
.wp-caption .wp-caption-text,
.gallery-caption {
  margin: 0 !important;
}
